*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.wp-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
/*Shared style*/
.btn{
    margin: 20px 150px auto;
    padding: 20px 40px;
    background-color: #30b868;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;

}
.btn:hover{
    background-color: transparent;
    color: black;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100px;
}

.nav-content .logo img{
    margin: 20px 150px auto;
}






.menu ul{
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.menu li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    

}
.menu li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

#header-content .banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
   background-position: center;
    width: 100%;
    height: 100%;
   
    /* text-align: center; */

}
.banner .banner-content{
   max-width: 1360px;
   margin: 0 auto;
    text-align: center;
    padding: 80px
}
.banner-content .banner-border{
font-size: 16px;
background-color: #ffffff;
width: 210px;
border-radius: 20px;
margin: 0 auto;
color: #469165;
padding: 10px;
margin-bottom: 20px;

}
.banner-content h2{
    font-size: 60px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 20px;
}
 .banner-content h2 .banner-heading{
    color: #30B868;
 }
 .banner-content .banner-pra{
    font-size: 16px;
    color: #ffffff;
    line-height: 34px;
    margin-bottom: 10px;
 }

 .header-button .btn1{
    margin-right: 15px;
    padding: 15px 20px;
    background-color: #30b868;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
     margin-bottom: 80px;
 }

 .header-button .btn1:hover{
    background-color: transparent;
    color: #ffffff;
   
 }
  .header-button .btn1 img{
    vertical-align: middle;
  }
 .header-button .btn2{
 margin-right: 15px;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
     margin-bottom: 80px;
 }
 .header-button .btn2:hover{
    background-color: #30b868;
 }

#card-container{
    /* max-width: 1360px; */
    margin: 0 auto;
    /* background-color: #fbfbfb; */
    
}
#card-container .card-con-content{
    margin-top: 40px;
    text-align: center;
}
.card-con-content h2{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.card-con-content p{
    font-size: 16px;
    color: #757575;
}

#card-container .card-section{
    display: flex;
    gap: 20px;
    max-width: 1360px;
    margin: 0 auto
    /* justify-content: center; */
}
.card-section .car-content{
     max-width: 320px; 
    margin-top: 40px;
    padding: 80px 20px 20px;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgb(0,0,0,.25);
    
}

.card-section .car-content img{
   margin: 0 auto;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    /* width: 50%; */
    /* height: 50%; */
}
.card-section .car-content h4{
    font-size: 24px;
    color: #001931;
    margin-bottom: 8px;
}

 #content-container{
    display: flex;
    margin: 0 auto;
    max-width: 1360px;
   
    margin-top: 120px;
    margin-bottom: 120px;
    
 }

 #content-container .content-section{
   margin-top: 100px;
    margin-left: 80px;
    
 }
 .content-section .connect-pra1{
    font-size: 16px;
    text-transform: uppercase;
    color: #30B868;
    margin-bottom: 5px;
 }
 .content-section h2{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
 }
 .content-section .content-pra2{
    font-size: 16px;
    line-height: 26px;
    color: #757575;
    margin-bottom: 20px;
 }

 .content-section ul li{
    list-style: none;
    margin-bottom: 10px;
   
 }

 .content-section ul li a{
    font-size: 16px;
    color: #001931;
    text-decoration: none;
 }
 .content-section ul li a img{
vertical-align: -4px;
margin-right: 5px;
 }

 #early-container{
    display: flex;
    max-width: 1360px;
    background-color: #F7F6F2;
    margin: 0 auto;
    margin-bottom: 80px;
 }

 #early-container .early-section{
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
 }
 .early-section h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    
    margin-bottom: 10px;
 }
 .early-section p{
    font-size: 16px;
    color: #757575;

 }
 .early-section .btn{
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: none;
 }
 .early-section .btn img{
    vertical-align: -5px;

 }
 .early-section .btn:hover{
    background-color: tomato;
    color: #ffffff;
 }
 #footer-continer{
    
    background-color: #001931;
    
 }
  #footer-continer .footer-content{
    display: flex;
    justify-content: space-between;
    padding: 120px;
  }
   
   
  .footer-content .social-link h2{
    font-size: 20px;
    color: #ffffff;
    
  }
   .footer-content .social-link ul {
    display: flex;
    margin-top: 15px;
    
    gap: 25px;
   }
    .footer-content .social-link ul li{
        list-style: none;
       
    }
    .social-link ul li a i{
        color: #ffffff;
    }
    #footer-continer p{
       border-top: 1px solid #FAFAFA ;
       padding-top: 40px;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        padding-bottom: 40px;
    }