*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.wp-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100px;
}

.nav-content .logo img{
    margin: 20px 150px auto;
}


.nav-content .btn{
    margin: 20px 150px auto;
    padding: 20px 40px;
    background-color: #30b868;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;

}
.nav-content .btn:hover{
    background-color: transparent;
    color: black;
}
.menu ul{
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.menu li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    

}
.menu li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

#header-content .banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
   background-position: center;
    /* width: 100%; */
    /* height: 800; */
   
    /* text-align: center; */

}
.banner .banner-content{
   max-width: 1360px;
   margin: 0 auto;
    text-align: center;
    padding: 80px
}
.banner-content .banner-border{
font-size: 16px;
background-color: #ffffff;
width: 210px;
border-radius: 20px;
margin: 0 auto;
color: #469165;
padding: 10pxgit;
margin-bottom: 20px;

}