*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.wp-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
/*Shared style*/
.btn{
    margin: 20px 150px auto;
    padding: 20px 40px;
    background-color: #30b868;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;

}
.btn:hover{
    background-color: transparent;
    color: black;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100px;
}

.nav-content .logo img{
    margin: 20px 150px auto;
}






.menu ul{
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.menu li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    

}
.menu li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

#header-content .banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
   background-position: center;
    width: 100%;
    height: 100%;
   
    /* text-align: center; */

}
.banner .banner-content{
   max-width: 1360px;
   margin: 0 auto;
    text-align: center;
    padding: 80px
}
.banner-content .banner-border{
font-size: 16px;
background-color: #ffffff;
width: 210px;
border-radius: 20px;
margin: 0 auto;
color: #469165;
padding: 10px;
margin-bottom: 20px;

}
.banner-content h2{
    font-size: 60px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 10px;
}
 .banner-content h2 .banner-heading{
    color: #30B868;
 }
 .banner-content .banner-pra{
    font-size: 16px;
    color: #ffffff;
    line-height: 34px;
    margin-bottom: 20px;
 }

 .header-button .btn1{
    margin-right: 15px;
    padding: 15px 20px;
    background-color: #30b868;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
     margin-bottom: 80px;
 }

 .header-button .btn1:hover{
    background-color: transparent;
    color: #ffffff;
   
 }
  .header-button .btn1 img{
    vertical-align: middle;
  }
 .header-button .btn2{
 margin-right: 15px;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
     margin-bottom: 80px;
 }
 .header-button .btn2:hover{
    background-color: #30b868;
 }